/* #academy {
    color: brown;
    background-color: blue;
}
#code {
    color:coral;
    font-style: inherit;
}
#dizayn {
    background-color: darkblue;
    
} */
/* Duzgun usul deil!! ID benzersiz olmalidir*/
/* div#academy {
    color: blue;
}
p#academy {
    color: red;
} */
/* ID ler eyni olan zaman sonuncunu qebul edir!! */
/* #academy {
    color: red;
}
#academy {
    color: violet;
} */

/* div.goyReng {
    color: blue;
}
span.qirmiziReng {
    color: red;
    font-weight: bolder;
}
li.sariReng {
    color: yellow;
    font-size: larger;
    font-style: italic;
} */

/* Child Selector */
/* div > p {
    color: blue;
    font-size: medium;
}
ul > li {
    color: brown;
    font-style: oblique;
    font-weight: 400;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
ul > li#kimya {
    color: chartreuse;
} */

/* div span {
    color: red;
}
div > p > span {
    color: blue;
} */
/* 
div li {
    color: cadetblue;
}
div li#css {
    color: blue;
} */

/* SIBLING SELECTOR */
/* div ~ span {
    color: blue;
    font-size: larger;
}

div ~ span.birinci {
    font-weight: 600;
    color: blueviolet;
}
div ~ span#dorduncu{
    color: yellowgreen;

}
div ~ p {
    color: red;
} */

/* Adjacent Selector */
/* div + span {
    color: blue;
} */

/* ATTRIBUTE */

/* [class] {
    color: blue;
} */
/* Multiple */
/* [id] , [name] {
    color: red;
} */


/* #academy {
    color: red;
}
ul {
    color:red
}
#css {
    color: yellow;
    font-size: larger;
    font-weight: 600;
}
span {
    background-color: yellowgreen;
} */
/* 
p {
    color: blue;
     font-weight: 800;
}
div > p {
    color: red;
}
ul {
    font-style: italic;
   
}

ul > li.goy{
    color: chocolate;
}
ul > li#yasil {
 color: green;
} */


div p.ikinci {
    color: blue;
}

/* filterleme */
li[name = "class"]{
    color: red;
}